*{
    padding: 0;
    margin: 0;
}

.hide{
    display: none;
}

.init{
    background: black;
    width: 100%;
    height: 100vh;
    position: fixed;
}

.init h1{
    color: #ecf0f1;
    text-align: center;
    line-height: 100vh;
    font-size: 3em;
}

span{
    transition: all .3s;
}

span.fade{
    color: #812990;
}

.fadeout {
    animation : fadeOut 2s;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
